@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Libre+Baskerville&family=Roboto&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
/*body{*/
/*    background-color: #F5FFFA;*/
/*    font-size: 16px;*/
/*    font-family: 'Roboto', sans-serif;*/
/*}*/
.container{
    margin: 0 auto;
    width: 1200px;
    float: none;
}
.search{
    width: 100%;
    position: relative;
    display: flex;
    top: 2%;
    left: 10%;
}

.search-tm{
    width: 60%;
    border: 3px solid #696969;
    border-right: none;
    padding: 15px;
    height: 20px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #9DBFAF;
}

.search-btn{
    width: 50px;
    height: 36px;
    border: 1px solid #696969;
    background: #696969;
    text-align: center;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
}
.search-txt{
    color: #ffffff;
}
.search-box{
    width: 30%;
    position: absolute;
    left: 50%;
}
img{
    height: 70px;
}
input{
    line-height: 30px;
    float: right;
    width: 25%;
}
header ul{
    list-style: none;
}
header{
    background-color: #FFFFFF;
    height: 70px;
}
nav .container ul{
    list-style: none;
}
nav .container ul li{
    float: right;
    line-height: 65px;
    padding: 0 15px;
}
nav .container ul li a{
    color: black;
    font-size: 19px;
    text-decoration: none;
}
nav{
    background-color: #E0FFFF;
    height: 70px;
    font-weight: 500;

}
